@page
@model AutoEscolaPeDeChumbo.Pages.Treinamentos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Treinamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Treinamento.NomeTreinamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Treinamento.NomeTreinamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Treinamento.IDAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Treinamento.IDAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Treinamento.Aluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Treinamento.Aluno)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Treinamento.ID">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
