@page
@model AutoEscolaPeDeChumbo.Pages.Treinamentos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Treinamentos</h1>

<p>
    <a asp-page="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Treinamento[0].NomeTreinamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treinamento[0].IDAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treinamento[0].Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Treinamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTreinamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
